.row{
    display: flex;
}

.bird-small{
    width: 64px;
    height: 64px;
}

.bird-large{
    width: 320px;
    height: 320px;
}

.column{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
}